body {
    font-size: 18px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
    &:hover, &:visited, &:focus, &:active {
        color: unset;
    }

}
li {
    list-style: none;
}
h1 {
    font-size: 2.667em;
}
h2 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}
*:focus{
    border: 0;
    outline: 0;
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items:center;
    height: $header-height;
    padding: 0 87px 0 30px;
    background-color: $primary-backround;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1.333em;
    .logo {
        height: 58px;
    }
    .main-nav {
        width: 100%;
        ul {
            padding-left: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
}
main {
    margin: $header-height 0 0 $vertical-nav-width;
    padding: 0 6.8% 0;
    position: relative;
    min-height: calc(100vh - $header-height);
    @media (max-width: $small-screen-breakpoint) {
        padding: 0 3.4% 0;
    }
}
.vertical-nav {
    z-index: 1;
    position: fixed;
    top: 90px;
    left: 0;
    width: $vertical-nav-width;
    height: calc(100% - 90px);
    background-color: $primary-backround;
    color: white;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    align-items: center;
    .vertical-nav__copyright{
        font-size: 0.667em;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        height: max-content;
        padding-top: 60px;
        width:fit-content;
        justify-self: center;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 20px;
        }
    }
}